.products-container {
    text-align: center;
    padding: 50px;
   
  }
  
  .product-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 20px;
    max-width: 700px;
    margin: 20px auto;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 30px;
    margin-top: -40px;
  }
  
  h2 {
    color: #007bff;
  }
  .product-card img {
    max-width: 50%; /* Set the maximum width to 100% of the parent container */
    height: auto; /* Maintain the aspect ratio */
  }
  
  p {
    color: #555;
  }
  