body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:url('./bc2.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  width: 100%;
  margin: auto;
  margin-left: 50%;
}
.container{
  width: 100vw;
  min-height: 100vh;
  transition: 2s;
}
.container.dark{
  background:url('./ds.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}